*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
@font-face {
  font-family: 'Fantazyor';
  src: url('../fonts/Fantazyor.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fantazyor';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAGDEABAAAAAA6wQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABMVFNIAAADyAAAADQA
AACnDdpK2U9TLzIAAAHkAAAAUAAAAGCH/BweVkRNWAAAA/wAAAMiAAAF4Gu5c1xjbWFwAAAP9AAA
AY8AAAUEnY3kxmN2dCAAABMIAAAAHAAAABwFVAMsZnBnbQAAEYQAAAECAAABcwZZnDdnbHlmAAAT
JAAASXcAAMJMp5hjd2hkbXgAAAcgAAAI0gAADyDMZ9RzaGVhZAAAAWwAAAA2AAAANgJZbnNoaGVh
AAABpAAAACAAAAAkBoYDlWhtdHgAAAI0AAABlAAAAoxg7QK/bG9jYQAAXJwAAAFIAAABSIKTtBxt
YXhwAAABxAAAACAAAAAgArMCBW5hbWUAAF3kAAABNQAAAnMJvS5bcG9zdAAAXxwAAAGnAAADfY0N
QHhwcmVwAAASiAAAAH4AAADMnVyK6QABAAAAAQAA3CuU9l8PPPUAGQPoAAAAAM75MOgAAAAA0Jz6
Lf/8/3ADmgMIAAAACQACAAAAAAAAeNpjYGRgYHr3n42Bgfne/z8MvMyzGIAiKGAxAI3gBiEAAQAA
AKMAkQAFAAAAAAABAAAAAAAKAAACAAFzAAAAAHjaY2Bm0mWcwMDKwMK0h6mLgYGhB0Iz3mUwYvjF
wMDEAAMNDEzMDEigoLKomMGBgUFBlundfzYGBmYOhmqgMCtIjjGO+QWQUmBgAACFpAyzeNo9ka9L
BFEQx2dmb3fPH1g0iKIgGC4K18QLYjiL4TbJoSgGTSIXjRbBahBREMRoMYioIJgUVDCIVe4PMBrP
Wz/zVl348ObNzvu+me/TLwmfsuqkiC1Lqp9Stkx6bFoie5TExuFWYttl/y2pbRMfSUxdYjtitkf8
Rb5Ofp1cvyTRsJTsVRQNs2vyDUjRrUkcxTKgHeo9N01dXRL2ZqPEfWi95F0bo4+c+opEeoVmD/l3
6dUJMd0S1QX2i1KSB1G5lEjeiC9Fo1nm2JSSrqD5hOYhd9TRaktZ7zgzxb8Tag6Y9bDo23vxmb1n
rwt9eu/05X54z/+z3RZ6wQv3yL0p5ojCeh1ic3+CT+6fe/bnk3vGzO6B+2Qt8k6FGqfKGWcQhqjv
Mkc3zBLrM7katTMwVryLruUdJ/ToZOSB2pQzqV38ksE63DA3uLfB3+M8D1TxvgYNtDNowhJsMJfT
Cr0m0QceA1qlwBx3zgdPjNV4K9Nz9Dt4ucpdbTxyD5rcsc+/ezjlf4V1hHc88xnE/N1+AFD6XbR4
2mNgYFjMCAQ+YOzDqA3iuDDCSQiTGODC6OMCMQcGfLSxadfXR7CVrKF6FQkYDgB0BwYJeNodxFNg
EGAYhtGnq1Yt17KXa9m2rbVq2bat5S23LVtry9uybds2F//evnNxgFjE+g9PYjwcHsR2jjj6L3Hx
0PGIoz2Jq+MTTyewE+KpExFfJyaB+0MSOykJdTIS6eQk1l4k0SnslCTVqUjmfpOa5DqNnRYvnY4U
Oj0pdQZS6Yx2JlK7X2Qmjc5CWu1tZyWdzkZ6nZ0MOgcZdU79k1xk0rnJrPOQRee1ffDW+ciq85NN
FyC7+0FBuxA5dGFy6iLk0kXtYuTWxcmjS5DXxVASH13KLk0+XYb8uiwFdDm7PAV1BQrpihR236lk
V6aIrkJRXZViuhrFdXW7BiV0TUq6b9SilK5t16G0rksZXY+yuj7ldAO7IeXdVxpRQTemom5iN6WS
bkZl7UsV3Zyq2k9/oQXVdEuq61bU0P52a2rqNtTSbamt21HHfaa93YG6uiP1dCfq6852FxrorjTU
3WjkPtGdxrqH3ZMmuhdNdW+a6T52X3x1P5q7j/THTw+ghR5oD6KlHkwrPQR/PdQeRmv3geG00SNo
q0fao2inR9Nej6GDHktHPc4eTyf3ngl01hPpoifZk+mqA+imp9BdT6WHnqbfMZ2eega99Ex661l2
IH10EH31bPrpOfR3b5lrz2OAns9AvYBBeqG9iME6mCE6hKHuDaEM04vtJQzXSxmhlzFSL7dXMEqv
ZLR7zSrG6NWM1WvstYzT6xiv1zNBb7A3MtG9YhOT9GYm6zAC9BY7nCk6gql6K9P0Nv2S7UzXO5ih
dzJT72KW3m1HEqijCNLRzHYv2GPvZY7ex1y9n3n6gH2Q+foQC/RhFuojLHLPOWofI1gfJ0SfIFSf
tE+xWJ9miT7DUveMsyzT5+zzLNcXWKEvslJfsi+zSl9htXvKVdboa6zV1+0brNM3Wa9vsUHftu+w
0T3hLpv0PTbr+4TpB/ZDtuhHhOvHROgn+jFP2aqfsU0/Z7t+wQ790n7FTv2aXfoNu90j3trviNTv
idIfiNYf2aM/2Z/Zq7+wzz3kK/v1N/s7B3QMB/UPDumf9i8O698c0X846h7wl2Pa/f8fACjDygAA
eNpFltl22zgShnlaEheQIACCILhvoihqteO2M530OX2Ruet+0XnM+YuMO5XYEARU1Vc/UKQdx7GO
4/wvCA7OYefuDwf34Lme6+5dd/t8oNE7bLZff/Y72G8wf7fbu4f9frfHcNh7e2yGH7a763aarcEO
Hn3/GYSiHHa77bO72uHfdZoFwTbDzh0RIMNuv/MBytjKiV3eyumtydyDT5OD6x/cf+MgC5w2TgTC
MnFSJf4BM3dD+4mIf2uwNcCvGO4nITyw2fO28dMY20aE35P/yrknzjB0HXe3MfqeD8fV3w18l1AD
d4uy4rrg3O+JM9g4DzuEw0IAnpVr+72NazA3cH9xbJoRJ/H5WPd91914NwvDbTepQuur+vsAnFEE
zj1V73uBD3P9NRkj6JXzMw/JvHHufmNI5pOgSEcyuJiRBd42wnk1CuCvX/2MQXdhv80/Obf11cuP
ou0TcQYIBvXBycDJued4exIvACfz17j4z2jqecxbRfZWXA9Hj5MAZ4hAUJyuQkBFuVQj3KhS8iDn
gBEn835xbLrRSRNfgM1g8ejH/2mc/6wPqjCEcNc7HYJTCN/x94iLsCGLGPNYCHc/YgFtjPB5S74C
UNdQL3EkQyUkMWi8yPNZQBauTogVMIZgobcG+KTYmFBaQCODC4M3/QQ/TYhtxB08hAjm0S05cHBK
Cc4DQ54wCBkHJHEyn0f44pMzoDuBY/CpkVdOFIxluswhyYATCygtQrONN2QhBUOA7Rui3ThJScjh
EUcIb4z0xWpSbruhsBshxKq+S5xKBU5AnCwKopDDMYwoGY8YScopwooa0FlSI9CTIsa1CqEDcWKR
g2fNAwk/pQwjHgKSB8SxZSftqKPpN91FFkZRQOs/KcNQqe0TKnJBEPorZwxOrZnDXIiH8nkURzyI
oEPEBAc0iwScQ0Kl0CygxwIeRjuJQDykZ4LPsShQEHKuaCF5wDniFCwUDDxsjcGIaVOS2Dk2c3hj
XC2CaY0oIanMvDgOOTLgCSnBaUzohC5HNBGKWPCY8ZjyqTgS0FeSO6EiDs6S2hotv0/QaDH0xhHG
WFQsBBTQBColD4xcULBIhvh+iwFGGj2P5ozFMceeMIxjmvPVjNl2oyKP/Om5H3gJOPM8ciIPcWPF
ldRCRgITwbWKgRprLBAC6QOVqK3pvZQGfiiBhGaQJEMUqVjEsVCxjDk8MAqlKZImXk5MxEgjSoPR
GQuhVBRJSfNYkOW5EOsqi/wEQUKoz4IUnFUVO7EvuRRaaGVUwpWOpYoNpjIWBgkxQNyYNKK2prdi
xoIokTxCEyTIbXisJTYqLRUGgXoTpY0CpImJZ8sOnTEyJoSUdMbYr+M4SWgupYJVlVL0OYpilmqZ
RNRnLANn0whH+BBPGZnqLNGx1kIlwhqVKqEylKyQGXVILmI4MXov5Xg0QHFc5giqxRYFUZokVVpR
QoyJyUCBAElCmYmVc6JgjLZynqbYnwpBvORL1jRJsq6iMQzVGdETMgdn30tHBqnUiVWZKVIjDSap
KmySaaULLFAcoWQSK4FHQkhv1SoKBRTHZeYGEIVQVqdap5k2cEpQr0ltgUhJodKUCIhQCBpxBAm0
EFmG/ZmUxujVUljfpyl9jnHkudUGSqBfK3AOg3IUIy1tkpvSZJLqSFVptYUqpYKfShTOkTgZ9cHK
GYlMS8FinoGglOBEujTXJk1SnVqdGVsaIxHAGOIiQtIuSejESUeL0qxVCrwrY5oaMwyfnCrKbZpB
iSCOiPN00o4OIZ4p0zKvbZHkuc6sbkpTQp0GCVG3Bi5kVtTW9PbuYq6KLJGhEAVyN4kuM2syW2Z5
lsKjNIUt6zxPEMBaIqD8uFsYqaszVFcUWVaWWhcFzbPMwk4na2kipeYVgikRMsk7cF6vxjFRYYq8
tU01VLWpKpOX2dDmTZEVPRZyYzNtDWpJ0U4xvcWPkKbOU40LVxvIkGZtXhR52eRVYYu8aPK6ageK
1IPF2jzPMjrfPLeWurpAdU1TlE1jTF1bzIuihF2vZZnDP0mM6Nqi1lA/EUdwPp/Wsby2VdkXQ3ts
Otu0tqrzaSj7Ki8nLFTIDNwizTOOnqK/VmYlTVdlKZqugwxTlqPCsqqHqq0KePRl1/RHRCqnHDxg
IEJjaJSyLFGB6fuq7vs87zqa17CmeT7ruoKlqZXjULdGx1zLGZxvb4VTiLZom6k69nM/FPjfdOUy
Nce2rM9YaJAZuHVW2hi3jP4SuCaJHZo8EyYdIMWCgpq2brpj07dV26DeoZ8oWHMuu44Yqop0bZqq
oq5uW2vHse2Ox7Ichhrztu1gb29d18DQ0clpaofMiNgkV3B+/aicSg5V383N6XgZQTtV3VDfzt3c
1/0VC13V1EVTt3ldyDTReDexR6qLqStzmWUTyr+hoG7ou+HUHfum7/q5m8b5QpGuNXhgTVPXRUEU
OIKu74vidOqHea7raWoxH2Dj+PExDB38c1vpZR6m3Eph9QOc3781TqOmZhwu3XK6n87NaW7GqX1e
h2VshwcWxqZrq67ti7ZSRqf019+rSavzWJdoujPKf9btdZyGcVrG09jBYxnOp8sdkYZHO01E0XVt
W1U0UlePY1Uty3hclrY9n2l+PE6wb9+maYQVRZPeLse5zJXMzSs4//tjdMZ0GZb5dXq5/X59DLf7
eL4cP77ML8vx/D4u83mcjtDn1Bw7XWSW/lr5A9fqfu7btK7u4zh89Mcv5+V8vrycb8u0zMvL/Li+
/n67D/P78Xo9neaZ8ncdjXk+z8vSdc/ncnl5GcfH44T5slwu1+uPH5fLGdY0Y/7ldbm3dYp+/QOc
//w9O3P2PD1uXy8fr99e3k6vX+b78/zn19v7/Xz7Pt9v93k5Hy/zZTgfs7ooBd7hf1Xl+HafBtu1
b/N8+nM6f70/b/fnx/31cYHH++3t5eu31y+n2/fzywsRLMs8j+Ptdrngmtwej3F8f38839/n+e3t
ers/Ho/n8+Xl77+fCHO/D/1c/ufj8WXsMvTrX+D8P0seA8oAAHja7dPHa1VBFAbw3827xhp9mthC
ok8Tey+JsceyF7ciaOwl9t5jb7G32MtO3CoI/huCkJVbF+4UQQPXeTePmJWIC3XhN5wzZ2a+4cyc
bwYZqWUaRfKoCKMQRW8VR6/TmXeFlR+IFBWiIj9H+86MOcHfc9td90030SRPzTDVeJPVqDZclRFG
GmW0McYaZ4ppHpngsdlarLTKGutssEmjrbbbabe99jvksGOOO+G0M865oNllV10PGWvT7HeCNVht
rfU22myLbXbYZY99DjjoiKOanHTKWedddMkV19zwN/DsFzg33WrXrAPzzPXAwzR+Io5aQl8tJw6N
EsMss9yKcNcXXnnjSxzFNfGSeGmuLFeZJOm+ksCvSlkNnVjZuDawSnMVgRUln/PEpFVd8B+Sj0lr
8rytnLbst0+8byqonQtq5tHc6YQvU/+14zX86bfwO/rX6WeILgaYZWCoYRz+RqkyPczUU7Huhuqq
3GCD9A7166aXrL76hApU6m++egsstMjiVKH/uvyTunwHkhu+JQB42l2QPU7EMBCFxzgs5AZIFpIt
KxQrr+ipUjiRUJpAKDwNP9KuRPYOSGloXHCWoTNdLoZgko222MYz783o87MTgGsS5G34FuILk/j7
TOCvfyAH+fK8SSCc1lXvSbyyOHNsrA130umaZFE/Bos66ni/jbrW729byoq58mAX8VYTdKHn8ykY
KlEd2x3iHXOyiZPNnIhM2C+E/UxgwC8vnbtGk7xpw0OgwSsqPSpjdEVjG2j0yiDy1uqYlOtHf7Vk
vuDMqzU3lwdKF6hUBBjjQVlDQ4wq8jsWnWA8MQScGuVi8E9MRFlUSQztPBqsUZNhjTWcEz3fnbum
CxUnNbj5ByTqa+QAAHjaXY1RCoJAFEWPps4UYkhYEgX+CMGAH+kOtAW4DBfhvmR+Zms9MUL9u+9w
73kTGCweIb7xLBHBHJyEJzkXYjSgjUNR86LgSvIjmjsZ6apz5LYhOFG/dzOfnpaGUsoLOVDtOoFc
8/vzXx3yELJSW06iUmaC4jMOefcFlQoTYQAAABQAbgBEAHgAsQDLAMEAbQDUAPgAAAAKArYADHja
7L0LmCTZVR4Y90bceMeN9yMjM/Kdka+qyqzKqsyq6qrqd/f09HRPd0/Pe3qk0cxIo5HEjB5mkJA0
SAI0q8eCBJLWxhgDwmBL3u9bPn9mRC9ew1q7Xrz2N7BeWXjFAruwGNbyYq9gWQum9tyIyKycEbBg
wGCpujM6b0dGPuLcc8/5z/NyiJMOfwdT/FnuUe6Lt7nrnMKd5YThba7CSVwKo9ManEq5Ehx9OHbg
uAQHufUil1ovctxL+TOBZzJ6kavA2IKxVYxdGLvFuATjUjGuFu9rwXMLzp2F8SkYnxqd5jkRfgeC
L7gOJ++Hk/cXb3rtlzj4xvMPvMjVR+XPcXVOPXiwOLHJTmwunZixEzN2YryO9tABmsFjE/4Jq+wh
USR5ARsHkig1U3hha3PaTUX2AuXh3+4ae2zBu6bwKr94Zxiwa2AAJ9FnEPwhWJRCQ3cQhv/w8C9m
f8RWqQNPhOqRVj+oi47niv6KX+0QImIJIwEjxW+UvK5XT3hZIHAt+zBTV1ZGbdQTGqubYftiW9eo
JEsu9fp+sp34w2D/nQeUrqCK7/U9WpOJq1RmMTFNHRH44ma1fqp+6vmTzbONUjOyCEEq3aief/6c
s2IrtmzJqhRVaxyHOPnw59B/gz/ObXHfdpvTYZJrbLYZ8fWM+DoQXATii6N8rMBYgXENxiGMw2I8
n1U2rsC4UoybMG6OuNvckMPcBnz2i9xGwTAcXDKEcQ/GvRHMzxpqMbIDbT1JXNC+mwL12fNmupVO
w2kQBhthPmfsLHrCrFmujrBEZMJTeVpv7ZWJBDMgIDYFqB3tvf2EVTN7ERGwnMDVeAwU1rzhvcOz
33l2MCglmK94ApUajWgcPfq5R2VbiZoiUoCSfJlQKcGIx0Ar5fB/Q1/GH+bu4Th38wDP2E+ZMoaa
sp8jifm/kpj96PmP34TfzRiqKUoVxi8exZKY31+rCa9swUUbB2hTQyI1vJ639tAqTGlQN8u8KIuE
EJlXSxeCgd8hWECCxCOkmOFqqMlwd/AD4bcJWBRCQlSs5tyD7zRMhWcvIUkAJsOOXTvbnL5ha/2x
9ZJ/UuZFIqear139vquNs02qszdRBUgUnrl058kV0R/6ukokiXj26fed3rv/NXDv/OG/xRr+ELfP
dWAytznCrWaTub00maswHsB4wCZzmk+ROKcDxdn/vYJAQDZGmOzFVnMNZ9dMT6BxFW2g707aKo0F
odfWPE3URS/UYaXIAtxuJTbzO5d43vTc1A1rAbAzEMqv/VedzV38Ao7C1rm03ZGxyCjAIy1yTz5/
0ht4TZ6v+CvR+mMb4UroUvgQYpb90machBjBPYqHv4C/Cb+dewuSbnMTkHytTAZeg5GVjV4P6+NW
dtuvX7ptNuZhzBfj+XKZWJ8DgSl95WhBtODVGoxr2asvclMYT2FswfgMjM8U4/MwPj8CmSvClwdw
pHBM4bgAB5O51+CiK3DRFSYn2W9iS/XWkpxk44dg/FDxm94I4zcW42e+BDO4B8vRym7FKuTzHjzv
wPPOKB/feAlmkSLfC/ygWIyMkVuD+brMl2SXLUo2s36V+KLnZ9JxsjHNJ3Q2LcQluwJEJVsPe/DC
AYYlHLCF4IlegJ9GPI9CexDBxLzn3XbbkR058jIBCoKURyWq+gRYgMBlsHQdopCAIp4tBszHfpPw
QrYU6qWKkS0LZFeH8dZqLxOm6HL/er96olovOQbGAlZEJpGDUudS2rqjjQn/80QrIWQA01vnHnj8
4csefL4HLIfM8PS3naYlCq8moVkzd9+22xB42U5KzTPNCx+6UO6FRLYDb8QWZL3icfAHAx99Af1T
kKkb3B3cXYyTFFCahVSdZFPFJt8GWtsFI3gw9mDcL3Qhe06ZbmSS8zQnwOQLQ5iOKh8GVGhRfqGB
JLFYREyObAK9Mw3FgzCCOZgd4DRbX3Alj860N2omEo0kbcU4rJgE8yIIE0HwafVEWQt1EE08U0hx
ZacmrW5u7CDLs5qm4RBJs0a+BhTheYy/ndQ7Ha273Y0ofARt1DZfP7HrNjUx5m1ZJ3Li3fsj98Iq
K1OqEzZ/P+n5RBKTZkOzNFOT4nLAMd1DDn8VP4v/Ovck91ducxdhld3IGPIi3Pw23Pz2KB+fgPGJ
YnwA44NifBrGp4vxORifG2Uo5QYsuhtA8BuAUm4ASrmRrZgbcNHdcNHdxRve8CUgZ1OckzGnISMm
MOgaAwGzDCvMWZcxL8ofE9A+IrC574kMO2TLI5uEbAbWcKsJEp4i9oE8mgEQgAeRgN2Af7yuv7rB
M2gALOha6V29jQ1bc1StXouIxHuxJPh+Cq+BUAedg3FEy4TPVgEPvK/qBrF7nYQQk+roVH/nVNCc
JSWdwEoA6EBW1moHtbs+eVc0Dm2b6IQ6l1cq20larXZgQc2e2a2WpqDi9t+137vac9psGdVFnlLF
VYHPlVJkW34kxSY2eN4wNMbLPIfxFfxuAILbnDfHXRxDVVyOqjpMeKdsqQM6yhUh40r4hy9ol79S
sGmm4NHQnp08CAeGb6S1xx67Ya9fjJO2JFpu52r59N1wLyTwvUrgDDox4hXPqIdO7Dta2saK14iG
2zd+4K7RZkQQP0hXXrc9fmT1vk0b9Cmog9KKbSFNPrh03qrf3QpLTAE65uRtjN+kw2fxb+H3ct/G
ffFF7n3ACG043gfMQIExKIw1eNbgmYLkDkByZxI4yP6mcEzhuAAH46cc72QM1waGawPDtYHh2sBw
7eyCNnxuFy7qjvJxrhjz8SqMV4vx+KX8eQLPk+zc5wB7M60x5/sjUJyP74PxfTAOYPwwjB8uzr8f
WLrjibmozXVrxsaMez1f8qoYZHkYbM05fGu6CY+FhA48ipaEdYaAQVJn+CZbGwzFzKVNrg3mgJoB
IS/BXoBikLZBI8JMLiPg2LLdBEYWBD4y+0wSgMDB4ooZ8kQkgiAwsILtSNIBHpGwQitWoBODSM7a
Q+OLd0STUn2/anogcRGRsCyIht680F6bwsf/mOqozQCDGhn6q/ev2g3b8RHuAUd/iKTjsUlDYg/j
9RgEM8imwc0B4L5VnZg2rIfy1nSrnF5KvSpBMu9365uOIipGqIe6yysWkQwi8LygEsc0Ssbk8cl3
vN+wFImYBkIba5VZ+cn9eDuTX7+LV/BHucvAGcXKIGxlkCUDRGYn5KUTGjuhFWvHY2aHmLbSZpc9
MsLy2b+YzdxkbmqETPCDcE9Pos1XqNSwwuMh2B5JvBU7bZsmtM8LMiwMydBr0zhp6kQVQoNamIBp
AZLHDMrUdxji492VrWS7UkvhDbzI74OEqOe6UzCGW09t6YYCciXyo73Tp6uGhWyGTo2YWrXI5gXq
A8m/xVNLItCJNOqDewa3HpR6aysZXb4H3wdY8Unu129zJsj1x+YW5GOwVB6DpfIYLJXHYKk8li2V
x5bA1GPA/jEnfmVO0JiRK16iX5ed6C6dGLATg6UTq+zE6tKJMTsxzk+swuc/wuGvnAZkBoMQji4c
MzguwnE/HG+A4zk4PgjHp+D4UTh+Ag791mnC/Xcw+AL7BPjdj770OWYufQU0ydZmhmiqqMIgEyjf
YJrNGQP7xRKCCV5DR1bNXgaPFkolUzWwPuGCKvsAUODZas0s0jWMXjDDhNoA6plxqMmGbNoqLB9a
6ccAW0DWEwcTDHy+/rqxHmh1F5QOGAYAmlxDdlXQC3EA+IlNL1idhHq1Oqx3+DP7WSsykKT69p23
nnzwjKZpmTGruaab1nyMTQ3wj03gHEAsQQMbVV6ttM63dp7ZqZ+u265EGJrCpZjZDyf3hqh/rQ8G
DHw4nKVefMeZtRwTfRX9LH4rtw4S9LnbHAXqi5m2F5cmX1wg6UzyUpC1FCQvhfVF4X004xZa4FV2
8QieR6P83MZL+fMWPG+NuK/hjvH6rDDkN3OhWGVTVQXVVMVzb4DQbBUG56yKaqiaS7fNDENRrKDM
Xse8J5fEDFgSo+QJvdFATPfcvtvRh5PtSU8DELuP0AVm/WNLobGaqELk+ZHGf/OVj98J0gosVVkC
BEq8yCfMuGGIAORlq3Hhey+XGoFB4J3iCRr9j+F+/bquylqJrj2+4VnYSICW+PCroJPfAxr5Hm7v
NiwlCbib0XK8pFvGSzplZwn87GTQHg4w0tzN6UawJE0AMk42giNsyVCMJDYX8GahxV0AP4Xte1Cc
lTK+9z2cbu16sgYwm90UqQD3rNzTn+7qIhbkC+NgZWUlAHwSNExgHBEIymM7ockXsaGGmqQSUSEl
wxdbgaWCcvgmUdF0Yssg2MAUhMXlRPduJ9vJ+iUqsqWAeZ4CJpLPf/g8GM5xTybeyx98oxbxYOOC
RQ/AZvPJDVMmwPA0tTN8zoN8+jLI7ee5LZDcb+buv809ABS8K6PgXUuUegDG976Un3scnh8f5ePX
w/j1xevfxGypizAnbvZ212JSAQ5mAediOyctQOtWDpTWMlmwyYiWThcI069g0R3n4LGCpApiNtQB
djOfR6ZfRd9ln8M+hbFncw8fIAYRJZ5ajpwMNUXFfn8vDbb39+OQKQFRAKWJBSKqlZMtu26FJXQF
aZWyKDPPCGAsP/Q/JmCNuvXMTuZxR3GogjMHFvp9u2nKsoB5rZ9Em/HKQ5dGRDU1NShvJSuDs995
Vitphi15DkaKKNdKom2qL//zte3VZG13b+YiRZVpcwfdAWoiBDESe2DHv/zp9Eq6IVFHAXXVPnH5
7suZvSQd/i/ox/EPAux5gHvLbWDqhc9RhP8EcKRwTOG4AAeTAfcs+RrZWH6JadpX+hLZuM9sqWK8
AuOV4vocQsECYKudoaNiDcB0YWYr5RwPc5TBpEweZFp3Y4FvYR5Qk2fnM/aHd+QT+VNex2PwR/eA
yTcvb8QAJAD3aJceebRBS1q1C5RnsAdhuTZ5/QTwSlgmSBedkhKF5rh+tiHIIq8ro601xc8cWA7u
M3UdAf0CnUFjeXN/pmnj2YbRHiUmzJDkjHs3P30PQB0APIqrNCWdB4FNWiG7FYRf/nneMrEo1jTF
kGGeXUBErsEVNtg/BIHyce4J7vxtYGKF680tVTezVN0lT24PxvWXmNs1H88pzcYdGHeAop1MJOTW
FMOLmSQB6jQLzDjdytXhwm0W5pzezdk8J7/vzUXyYiqYaYs+woPuwpLvh4OQGKDgiAK3o7qm2l/t
Kn6UuVyZ77VmVe3JRdCLPJYNc7XtaATMnLqmqrBi9FriqqYtxn1ZJoJqOopa0WwGfdAFfxDY43FP
kWAZ6KQU7r9z37IksHqZLk0DoO8TT24/s9PWRMpr65NwHFK7vHqirvuyJFOj1UzEesvXZF6SJIEO
Pff01etnVkARyEbTkxxZ5TI/0/+JTfwB7gz39G2YBLFwxHCZ9sscOlZGew6wyjQzBZiRMB7ll+zD
eL8Y52bBXNf5TNf5S8Bnm53YLrzfm9Pc4SZR4mdOSElcw8sYZDbN/aq5X5uxeOFZSDfRJ4GdeJLY
Qc3TREyDxCxVaasW8jJWiaoatdrgkZ3+jUGH5yWgus4cM+WkbsuISRNj9MgI4IFLVXrpsacfPi15
iUdFVeRFM6LTN03rp6rp5aR3oCm6mu5/y8Hec3t2x6nJpGwmO0m8nuGH30S/ir8LJPYt7qnbILol
7txcRmyBjNgCGbEF1NoCGbGVyYitJTfC1pIb4RyML740p1mVkai6RLMGO9HIaeZOc2F7UIDtjDZ+
4EkekwHNNKNgxtW5Aswpx+TJwjGT5i4ZZo/lLtDsv5vTW8gJHNyoHrzvjBEbEw2sf7ZURbXVAo0Z
d2JbEDO7HzvM92WVMtZGFqUxAe3K3ApjOfwmUZaSUNHFriFlUvsTRPG77RZQW5PYu8eA2a99/93M
EHKbJaYvabntA3ADiGapskiVZLdVmVZkW3YZ2LOi9VL3WvdUX7LfH/qweoJeQg1JEHnHt5isFg4/
hn8Df4S7l3svd8i4Vwa8zHyjz8KMnFnw8Vw4s7EEY6kYqzBWYXwGxidhfLI4f0/O92/I+P4NcOIR
ePGRUT7ONWo+fgzGjxXjJ2D8RA4VnwUWeBZY4FlggWeBBZ7NWOBZuOgtcNFbmBvt3fDr0+wHMm2Q
wOmk0AxzmfaHaY93LxndbPwgjB8cZd5RL/NisgfAobnRfGQhs5hSEdNgVy5M8tnyqsvQ6JStvgx4
od3MOZ7mdnruJ28dRaRAIMI5/GY2uz4VgG38Mswe6AiXSnHJ58V62DzTbJxtgGXspS4wBo+UtUEH
KdSIAAT5LZT5zzEft+9IO3d2AFtlaP3lz2td2wXUxcA+E6OhZ6VgMzKvH6A5zTBEo0ErWKJhqea/
/s3xZhyXGAgj3ahvK0Sy9cQEs4NZCtkn6IYgCuuqvDagDiEKFpurD01OvfeUV/YqogpGNmEMaXre
8OUGwrrHi4Nrg9Gjo7gdU4o0uzlrJGcONnSt0miYNZD0IDvR4a/ij+FPcN/NnWT6SuKSBfCaqykX
xOa3ZmKTnX3/S/nzdxTPH2fRw7ex2ZvjXiYJm0zMTYtpE70EeeKRo6MIUohLK3xhx+WTmHtb0tl0
Ml3C03PzYT7Lk3nM0ReZytvaTI+CRzABTrwWgJVuAaU0rRQAKXlBk5VZS1udmjWrNwQ8JzApIPJE
5xWXUJC+EgYAXTfgPRbV5E4gybJSrmmqriVmmQjMrgCMKPCqwItMPYIU9+2mnV5uxjYgcpQ4jZIF
n2npmk9kXqar6OOdM3XRkHbeCphd0n0DcEXrYqu35oAI/+2tVIZPJM3uyv2rXsclqiDQitW7ZwCY
wtIdzSCmvPP2vXS3ouqqpsQnW/VmEzkWMBnIOckgDJkogh7pdtspSaKBqG+360aJlsxSw4Hz1AYV
TYNh2D8J840P/w1W8Me4mxxH5iCCkTqfC+aUWqyk+UvM7R0U0Ds4Wmjz1ZnH6TLrD/1Yb9KKqWyB
vibUEIjgtLzSIFGILoEgJFiq9cqCQjRsa1v7O1T0fBdMCVm0JdmQFFPV06gtALKKq46BbC82JU1L
CaaNmtOyRTBMXCBkspd0LLVsVujkyQnY5htvmkiGZDuGbCsilfxyzTTLVEMarVCYGt8G8hqxNnxk
rbXTSK/3/XpAC7vlu/CH8dPcKqi+x5jldxP4fyfj/50lYHATxldhfLUYX4fx9WKcx4cW4blqobUK
n3XO1XNIm+uu6ZEbd7qPQCalOQ07OcbLrb4sjO5XF6sBqdc/sF8fapbqBVf3+teG1FQI83sT13EN
jAjWLHe00gaoS/XOg9cEMI7bAMYyR3d50AaGRTGxKK8LgpSJK4Q1YvhEBYvkSTJKvYP25I2TnXt8
avGKbaiukoC2KpWrdTuQlMZ4r739zPZ67fLL/0V1GmkWRh4YK/8GsHnNCi8PK7PnjJHBwKROwBLZ
empTABUnCHrbrpzdX81wMUewh98BdL56G6xrMbMPM1w8znQUMwQvATEvFab2TRjfLMbzINx4EYQD
kXNrxEI8S2JnbmPzuWG4DIhfYVqnC6frnI8LgyXIBUzxGuiVjSpG/5MbsGAYz6JlvBB6Sm18ZrB5
905H7YnYsC0X7GJebLp2T5Nl4FyMDaoq47tavpklJMgicbSQzyZi3W64UYiYE4khD22yu4XfxFcc
1VGZy/VUmt7ZNKuRZQWx0tl1KM8rll7WvaqqUgAtOjC+qTHcMkicSZzsVVVPUcBe8TVfA1y35Uk6
xkHUOt8CI5FaYIPyGZ/LgPX+CS+ArfcY9w7uRu7hkDM+l625lz5T+zug9neyfJQpHBfgYGp/Z4H2
uJ+ENWJzPLzTXoTZxuthjtsAlOWBHub0YFGdLGzBgvIiI/IGc4dMs9O5eBd9L3euH81TNoWbTYrc
5trchgnELswEC3UvlMT0ObtZcZGcObwFpzJ+7bibuCTUTWt9Y6g0HMLHIOLBxEsF3nPYUBNlncdU
M7S1h1Z7m6qoSmqrDvZznPY/SMsB8LQkVE4YMv1XvO25YKEQT9EcRZKJ7CMjrNtPfP6J0kasRXoZ
rq15fZMhQh5LUasE88uHZpk5nZiyVuRuR2OgEpAlXl0pT8vdYWa3wsr7nO5EBkhAtVTxgvuxqKuS
I8qEiUEQ9TrDhOTwt9C/xv+Qew33Ju4jt7kTMFv9uce3z5XgYH934LgEB5uh/pI9fmLhs8vHc8x+
Yincd2Ip3MfGb1mkAJ1jcP3cEn6/h524p8Dv6eZWHm2ezS34gFmkIbMvg/xskdmDZnPHV7G6PNFf
iq7OxSTYAzDJ7CTKYijMdUORzPCOSHWv6+9vhSrY9tmS4Ykgtrt1XpSBs1miBgK1HLAQtpBxApDX
sa0q0+mCHfgDvzRt4OFkmOd1COiq63uWHSIP/TDDch3PsDWFKDbRG7QfH3zLPiwibLk2T6wg5KVY
ZqbUfk02kSUBJOxe7QFD3fxb9/KSALYGDlh4IFZMs265FWzWa07b2ZqsPMqi5ZQCjzg6zTA+Pfxd
/I/xe7hHuW/mbr/IPTfKJ+o5IPw1mIRro8/BIi2iYzysQB5WIA8rkIcVyGfzy72UTf4KTP4KTPkK
TP4KTP5K9iK/NOH80oTzS0YavzT5LNnhThjfWZyf5zWsAM57DfwOwPYK/OrcBaosEjBg+rNgWObU
PIIBbOESf+5XyCJhaZfpv0UY7MhHD4+tNVzgN7ayM8dE7pw4CmoyhXgnTCZl8dSoKtP1bu1MqlaS
sjY62fcVJJS3rm3Pnhg1p4YKOEsNypTPgsDMmYwNVdSwQFDuA0bMIaoSH4xBhH5Es0zePVFRwQbE
Kja0frvlhk30K4CdHAN78erVJKwwFC0I9v6luy/tWa27L840Epe97V51r66rSLIqAcx7eVamJUPR
eNCj8O71xzaEoJlUrPRSx7MUXnMdpRzZfzsc9xM+tDXejWIF7Pl0YuiNzsXcbyod/gT6PP4xmMxr
3OPMU3cZVvosI/tsyYs/W8qHmS3lw8yWHHVsvPkSS9jLuOgycNFl4CIWSbsMXHQ5Y5TLCyADc3mQ
TVS6VSReMeTCz312qAB2R8HJPBsiLID3whzzs2Q/3s8YY65fmZmmZn4KTCul9Ue7dR8gnwpw2ZH4
WtqWIwBpanjHCISvXpKtsiFkmSnv8ncSx3J9IjT9ZJZUQhZeYx9EtcrY1US71/IA6/jJqTqQmxf9
sgWTGreTSy3HUQBEs9w/09VbT7zuupXuigwgUdluucSUxq8Zy/SSIBPeoJ3AZ9ldhLgVACuWiq6b
ok50FZMgpDGBKaVe4cv7HWyAbQ7T5R6QuddiiTKZcw3Yf7Yxl31LeSQL2hFE9DDd7qb3DKdXJF7h
TUnVsQgHDcomLVuCAorCckNqhMCFEpUEneqmoGi0vLe6stI+Xx/sAqhGM7E3O3Nq1/N0It2x5Vmi
CtwuezUbaxJWlJP3PNIV672Vdog005a8vqfZQAEtHrntc44DhoUXnxs3z2b3Jhz+PjrEl7k74T9T
pmrF5QD1AvDnjEDxGru/cCOYh8PzqW6KbLaBfTamCDRa0A7DPiUikUtqaGoA/fd2Nx1nba2neQ72
HHs11c/c++ClgYgD4hsARYPyXiuIMTZ92ZCrTnlNrZQ89DfEerPMsuxEQ1QE0Uj8RKemAH/cUpXG
j775qVbjhCHo2Bo/cJHyyIxqVtnB4qR+scv0OMKljgILP/cN/l/o52CNvQnmMPOHeoU/NPPZvcK9
cIQYA8AlOAPr3ZTZqeLCKMplVO7TzieZhZezF//pyrW0uhJZerXs+nFADNAPVeqNRn3DTEQBS8Sy
aUSylFTBK1fN1NY1vQ0qJUlBkxEw58ppyRKZ3DLdUJWCKJSMhlMN5Ga7giSkerR1GX9aSDxz9/zF
SlCxFV5Qg25N666umrqrmapc8kvriQsiSEdIpVqkAZJ3QpVolUGl0uSR0EpEA0xcXrRLaVk0wSAV
AaNGlVgEVE8CaXXcw07kmkpQyfgEAxb5GfwubpvTOOYRfZGLmPRImcNzDrMXFuEGaPmMLJ50JEGy
yPtsD8j8GWL7vmJUy2BaiLKphGuB3fIH9wyuACTGmRBg8dVyfSdud1j2EwNh6BeRalpERnoI96c4
stNwqM3SIW7AfcabMSjt6Zun5YAXbOraYbd/5tvPSK5DuYLP/2/0r/AbQVl+zxziJAzRJEsQp8ZO
1JZONNmJ5tKJDjvRyU/UQE2G84h3mP3twjGD4yIc98PxBjieg+ODcHwKjh+F4yfgKCLeIfcF9gm3
sgS0gpNYmDoMJnlMhEHkltjs5q76BYU351Y6xQu6TgP0/qjhyVienjmgdmKA0WEoktS72nOblgcg
xQNttXpzOJtI0sGofiIugWVtyCbDPcbmwZm4VJZMO3n9dHoJ3610Vwb6+Uf3mormUsm2DZgCgkSN
JqrCMoAx3ptunnKMVhTt1g3A04qogF3SUmzfqze75dE22JVcjmF/D30RvyFL4uE683tccikUQqYw
3rpHJAimhcGM0BeJpAEru7R5eTC9UVV04mFNdm1rc3c3gsXVH7mB+UtBx6qq/koka4PTJTDAVNvd
/ao7GPZdWtVKmmYcrBoJnTy12TrXqPUcQZdlyTubrr7uC5i3knOnJrpAGnVZrZ9M6jbwzOHLnIA+
gx/h7gWZkTNxWgRY0sJaz8ReIS6wuOQEYdMJMmHZ+DxypqTNX1RLhpOoRgyroKkrljdugbgMqhUZ
K956a3C5JWsECUSUDCHSXC1qRyoWNq8+shrtj0PKkgdAMOhScmqi2rLuSVLNUjz0CEO4hl1SCSZp
ZCeIbwgKKekqAJY4JQSHxC/FqmHpviHzoqA0BqPw5MO7MY/adz57RVMw1hSJyi3f4amoRbalYJSv
H+nw36Nfwm/nrgAtMqddK53DtKXMGVzgwcK5v4vmSZOLwPfR5I/3UPrfI6sERuuThC14AGlaXKJu
lk9DQfIRliiO7Gq0Houqamp6UjKxjGQRzGtHIY7Msi86zPDGqBeaGD0Juk5xVTUQqaXELvxPtxUk
8TopbZRqJUVWMutAdSruxY9cAPvPbdqSxvyBfKsczypgnuW5+7+N/kv8PPfwUWaezRa+XVg/mZVT
hNSOcqyL3PmN5ch9ARAyN2ZhErOVPS2QlrcgCv/dph8q9WR4qiaVebfS9iZ7TVMIq4oUBZ1Ajk07
MGstlajUbvv+SthbMeBuDJjwAMS7DhDKqplBk7ZcYA4v9doX20TXZfRYBn+IpO9de3hILEsXFVXw
J0kQSXpTCxAi6jgxY1mVJEklSrlfmpTL00qyndguyWwrsLEM2rp/BEiE6IKoAizmxWxt84dfRf8S
X+H2AbdW55QSGaVERqnbQD7CHWQZtp38Ppvz2M0BP8nTP5esgrRZKAuWMJE5ZHLHbo5JMuIyjLqG
0b8kZ9fr5zr9s365K6tmy6pv3LUXDz2AbAJvgUqRvY6vVqplJawxPEgEYeXRdVXYueDL6O8Pr9SJ
iuWo4q+vtWVJ8UpfOHWz6Zuo2Vp9ZOvkN0+CtGKiyFJUyYR3gtUJAAGD9FOsEyGobaEuaoJ6YcPp
fwD7dWKQeF1XBK/he82I5ljjd9Hz+Gluk2uADVUGImgZmNeWUiLLWaxkvD57RbIHkycFN+UOkTxe
GyyUA7z8gLAiK2CHqlSMYe0E/qqmWQi5Npgia6ulZinQVcKTWnVQB9GRgFlCy/zBjYtaSQcW8VgI
EWZdGfavDwBG5/ay5DVL3lrY0PV0bVJeuzUOTV7o5r5Rhps+CCbmKe4GKDqmJYv4PkziXOplIs8P
WDJGWoi9IviysOTANgArwW3mc8mzuVxDf80q016sjLbGWrrmCwZwsu6o/UlFw/WNE6WNNw6jbkmW
5EbodV/rtkDTqIJGKmnsoua4si7LOka65cpOHYSigz4G63lzz4tNHsuDyaZjJqamifH+9lDpXT7R
8mM62tkvVzdDL/y7YFbaqS0bYpcqlRgszKSLnjBEyQk0qsmiosWtepDnnauchP4G/s+Bz69wHRab
k2BiCz9MA0zxBpjiDdBvDUAXDbCwWI5KnqvMby17H6uL0JTUnPu+GEeHOcjmuxnzZyYw2Fnor2Ol
PO7Y05OnNhtir0zXNCILYJEarTiuSyKswwrGoCpqdRCXYdXc2Z/YiqHrEkv6/+F6h0YVDTBi2dVw
FZ1u3Lx5V6TytDm7stGehZpuy44sUdFv8nwn9Id+ouJAr0SnU1pPQE/YdL006A9j0Qv930KJV2ua
IBDsqGqWagwPog3u19BzAJdCLjdPmVnKzNGsBo3xCFgFgzzOveDxLBdPEptMf7yVlijYOJqDbEUP
9WgUGZpntsAAkGwZTZiPDGZCywIt8IcXqFEGy45jFUM/jWboH4PMOcFdhxW2CueOzOV5IchsUSWV
V9DMk4bn1TSzJXcJG+/CeHeUZbMtxZiPvPlwrpkuijTShdM482lJWf1G8/tB5ZTKzOHOq94whRU5
GDGfPKxTNY7sIFwJTUeQ3GgcBYMgKREJmUqjCYap/I+Yw7DkAULxbBZSknjxxMAyssKj/5ZFmGzq
FGVIvI4dWZVBNs9zTX6A+yrPcRvMPl0QOtcruWU+j9qIi0zYA/6qsVoGtu+4OjIGMxvrpoZENXZF
NwhkwNk48cA4DofNkuCbvB1E+OnGbkRE3i/Rrt69d4tMTu6q3tRrXkyUWqOuEEPyIhGLgrd7Yqys
PP6619w4XWDvv8f9Li9zE46bzUFAERJZshrmsuKoOiDP7/qsGhsSVRRfk1mRE+YNGdBcUmN1JFLU
p1XLQcgAaGqUujTpI9WtvDVaC3VAfK7CHO+ubNeo3/enbzsB/Hbyu/a8thOUQUjKMC+byf57zwsn
rj+QxUB/jfsA9zxnZL+zQNbwKz6A1utOKKmmHKjldNxJdanZ6+oAT4RRrge/zL0XfZkzYfVzhTs0
S1CF++GX3QHZGYLWg7oqYSMyRUoCR0AKkUq6VyWC77o9iUg3JoZU8mkS2QiJxFlDb3UcVqdIW6Wg
Q4jralZB1w9zP8V9Gr6VyWXKHPCLbCBQsEeYNPPJH+BH+ET1wizoENVszwwqqgJLUKahIbIc1kQQ
iVILZVuO646INXt9tsPgWSAKvkaoobO1d/gd3KfgXqvcGseFWQbS3GROjyjGnEEs0pvXdfKfQLpX
tng9C38ImIAFawmqpgAwH4o8CXpVI2Be9JJjVCKwSICbWHyDzZAcNE2t0+9RnYi007C66P2NmIpB
GdaJx2O3XJ3bd59FE3zI9eA/mUXPz03PeVlc9iDZ9KCJQm1J8R2KgpVA0iRRoSXDAHwjhz0Lm0EU
+aLepzr+R0ZnOHSDc2c2hPMfvhAMA9cqK8S3ovXo/IfvUDfPX79yNljVBT/X+z+CxrAO+yym+qow
N/D15qzAiEsPilC7qRux7DVdNdJkUwR688gPdAWMemyPYq9saHUqYl68akTlaXL+w+dbZ5sgPfrX
+qYRipJNPSDTHR+5MHl6uvnEBFanyOQz9/fRd+EhdweTCfxRSmSWPDnbmC4HysLMI5/j2KVHproA
iW1Mn/EDjckdzLd8zc6yZwQ99EWDaJ5i8FT1tEbHAaxuqJmxKPEEhJzTti0wW3gkq3BTiiKb6AWe
GJHP3OXUlF3KMiR8hQk3XiJyRWTeWtFuVhU7gu+CefG6niNnLgFDw5qhZimUhV35C/g6/gR3Egxt
oPaiLJRV0s0zCpb8NQsZM0+AOwo0iSmf5hGqLANk7tbk0RdKW2XH4QUN84N4K6aKQMuGGFLTZAnI
9iQ2PE3xFDmh0nC2G2gq/HZFcyS7YYt+3Wp+lYgo8hnCiuFGbQ0TSeRFSepgQZNDp7JVWQFF7ar1
U3WL8rxFVUe5+onLrYut6okksjASVFsXba26zmJ8Nz59T63GEPm/xiq+eAEWaZnVRgumHa4ECiiX
uZ32L4CcH+Jucd9+m7sKguH+TDHev+RHvn/Jd3z/ovQ48xdf5QI4UjimcFyAg/mLry7hVja+DOPL
xZuLOOxtLoZJuZB9V7woYQZluihHTfNqFtCVYaaSZlnsYGu6tVQP5mcG0cJxOq/bSCn2wYT0CgHK
ims2p1smS9bKEsf9xozVzyEQ+KnLAi6gGRWtd2PFjkTJRIqsA52w0KuNhzuERXAJrZTCksFKebFt
102DZZ3/Eszx8L4hWIqhZiWd9K5U1EXNRHl2WEJnMx3mVafEsbyBN33TdPLkJuDVZguwork/emQU
V02GpvVSmKXlyYBbZc9o38Fce1xuV/4y+jv4O7kHuMduc22YmzsyerUL8t6xIC1I870RS+K6nfH6
3Hr4HMsd/QpzUWH4d4Pjv5Inec0TEbhFvDwPhzPmLhy6hclaMHwrJ2kedWUFFVl2OmaXN9NWUWW9
ZaebR6k0m7soQLHX1HQaeA6Ym6GOMI2jcgLGkG76YHY3TFdliTG6Dcvd6vd7drOtiaxoRo0B1Z18
10nfryQsqOJ65VklTnv4/UB+t4oxYZE+M4xiCqhWxapoN/gsdVpxTZbSombABya5HdPZiYlSYpUU
BBGxk6A3wY8BCjt2HvnLZMNvoL+JfzjD69xRVmyWP1uoBGalbK29UioUNfJH1Z/hIkLNaPQZ4Bal
47YdTcZItq32ybpMo7pOLDMrNKB240wnOXuwoZuivzVM4+z3yJoBCk14CJdA5UkKz7uwzE353+uR
Ngi0UJdBfOoSr/uRKMhqqFSrEU+r1E5kMxZ4vbqWtC4ejHWt1fM6nmoBdbVg9Z9XJN5QadWkpsBT
N8zyB38d6fhTsHb3uNXbwBwy18zYprkUNWouYHCWcbHBoVtZBGg2/ZolSJe1Ae8ufHT563CKuWn5
tttxw1EYlzChSCNG0g1gSURdR5OyumGKyt0VR/M0y7IpK/6djuu4ZNasVAMTHOuy3I2DoX/iHbuV
XigozCUeUDnU2o8/ePJl2QLZD+uWJ65OY8JYQDQ8WEcc6qPn0Xu5CNbDke3B6nyZyHEL5fYqN+MJ
9Ln0TjB0MF86+d5TQH5alkElgRx9H3oPTJTrllkVDrsrzTAiIXN8/UHfZRffFcxX2au/CG8E6Oof
+EXb4QS+62u/CXHHOu0P1WnHdQx/cXUMx7Hpv+yx6eM+M3/cPjPHOfbHOfZ/sTn2x/j/Pwb+P85z
/U8rz/W49uQbrfbkOBfrT5eLddxT8huxp+RxPcDXVz3AcY+A4x4B/yn0CDjuJ/iXv5/gcdzvL2/c
7+ur1+M3bq/m4/6zf/z+s1+/9VLfCP26j2v0/+Jq9I97UfzH60Vx3ANl3gPluLfscW/ZV/eWPe7D
/If1YT7ez+J4P4s//X4Wx33zj/vm/1n2zT/uX33cv/rrq3/1cW/7P6ve9t8ofV6Oe2wd99j6g3ps
Hfe5/svS5xof/jqO8KcBUt7D+cD9d8G5MOP+MPOXA2R8tR+YSVKwJ3KJJf4BhcMH/CtqIDqwIDJk
CVTlcYBlRUnTpOy2XOrxRAOdXyIqKZsCMWVBVzyauDIr0wip7GtS3bHW1rqqWk0iYvi84MiYf/kz
RFMl3fRtFk1Wfjq91G7XMJYJFYljRWtRpAPt7DCZlS1DE4jWrq0+tLb9zE7zTN0LCZFFplk1zxo9
sj6+NabJrzfXpy4Fq93ynfW1xjFd/hC6sPqDn0ZfArrMuJvcG7I6517Wd2rKRN/WPFyWr6y8MmAO
Uefe9KLVzFH3hTxFgs9yHcCodBkBs/Kmed1A3iWGqL4zuDEIU7uEYk3DptncHUQZtmzUp8/tVwdV
T7Zzz+VT2PTqe4keyqag+ao6HA8kWZVBJD6gdXRAYIBpNaFbkQxR0NH3gRHgdbyKE+gSLwmyENnl
M2Wdqopobhxc6sTTuLXlNcqybhClYw+u9dfO3PGCawDm0glV7CRyRNHQ4KtV05akci1BJ1iIyw5C
ljAtliVTFdV5/cYx/f7D6cdiIRz6t/hxbi+jHcfw+0YVLzzEy+7iIFzEQudOd7wkw3mkjy9PIp6p
Tk30ZFC4TocofNgSwbjR02SLxQuslm0TYmv6wcN/5dxgTVIk20ykxsZp/Hh1Zd2lsS6qWPa0QGv7
vExqd3Vbp+tDhwZVAIhNTYwtp2XaPV9rhefHu+/c3hrp9bL79XYvLBfu/0BfxN/Dtbl9lk3fg1vS
M3H5hxW8sLEJY7MYOzB2cpuhB/q/B/q/B/q/B/q/l+n/5cyqvK/C1jRlCQiwcDaXQ1Y4i6vwBdny
/k9rQl468VGrZtZ7mVuBgaSyf/Kds9YsjisSbWw211/3VgabDC/sRdP7LIT0yuTKzNN4EbHaLmGt
3rva23lmB6wi1VWjFhZpGu2mndc8+cTNA80h6K+6Pc8zWSXh+pQk7V4jQIpXOzimz/8PfZgP9xfR
T+FPcvdx993mOkCdS3M02IG77cDdduBuO3C3nexuL8HdXoC7vTDKx3cxB0Axzh0DXJFOOWLIfx7r
POp4ltUEzM8tmiKJRYOnpdLNzJzMvOSzov6tiP2jUPMVw8DYZzldkiGzYEAf8HHJoaKjGiVWS4oR
b0Q+vD6LQGbKsP7q3f71fjD0g3roSIaQFcUwglPHPHPpDP4IBvstsmyDlxkuxAL1+6DaeXEYqADs
weQMVUdlXSUA6GN+KFO5daGdppkRgBQn8dp3pDAHk0dYsaKrZ/OYy5tjGv/505gc/ir6XvxBIO2l
PDePZqucLtVdUmvZkzxPUMnm4SLMw0WYh4swDxdhHi5m3atmRbPDraUkrsyEYWUpmZsgN2DEQl34
edQzmBQtK1l+Pgzu51VNrwoCyvK1skJHl5Lm2tZGT6Ee1UjooVY8LYMpYSZUAHNPILroumEsyW5o
1qyQ9b8JjUiUdepGK/evnnrvycqsXPIATRQiQzNtpXvvahtQqMDnlVsK4FcecCXveQGAUcGMWueO
afUnpRU+/G30W/jbYO1yKCiSgZcyMZY6Wwbikk2S95PJo3lFCgerXZ/3yRwHGwH6oVPA8IIzvDhb
Wb36tEeA44MYW34gD+4e9+6MiYgwUQOXebwM2R6N12zZsxUBqWEnGVxtaI6oOZE/DAApGko4BvNT
dzz0M+SEdfbmQ3dtCZKdvOGmm7rTp9Z5PwpIKSZC1JZMWXWIAWtQkAwwd/RqZDSHW3WcNGGSjESN
KeiqzDKmA5EnQKJjOizoIB7+z+if4Re413Av3eZuwdqJs0jn6SyRt5Dqt2CF3IIVcgtWyC1YIbcy
qX5ryVkbL+XExUsVyLcWeXFZnPJGFqe8YR0lX59e5A7n44sv5a/nPr18zHzy9xavP7YoXFCYP0bJ
+1GyGuYHsjW/XLc8W3QqznIR0yxXO/v3Fd37gswfFxxlbC+1hgtY9H9RgLJ5lOsFJ69noUlsyLKL
xSxKmdWcSIbmEyKxpGGe1e5bviFiUAXS3uqEFelbWUeG3AHfW22dbRoqmxLslf1AZU75H6nv1yVT
JAaiYrOTXklh/rt3d522o7k8r1Orbtt1O2ZfJ7m+3bbXtnm+Rys0niZgEo1fA/Y2TTsiqejEo/fc
BBDFCv14Wg6KXLfjOf9Gm3N8+HuHXwHF8J/BjG4zP6kBZGzm2X9swKaouTS3xlKFirFUO2Ys6o7m
U1JiU1Ja8pNW2IlK4SfNMonnpuhRnLE5j+6O4fWi8GveiPkAUbva9f31finvGc5y9bCvSzVW4pfO
WJEXkO4TcmKVEKqzoq2d0Iuq59HPeJEBOs+qrpRZaWJCO5c6zf2qbTBUtTM4+NaTUTP9eSyLajlW
mH87CD3Ly/phHNPnj6YPw1hfRb+P382d4d5c9Ms5AuzFnZnszkx2ZywprEjr6mbt09nfGRwX4bgf
jjfA8RwcH4TjU3D8KBw/AUeR1tXlvsA+IW+gnrcHYaWBc7/VXDeTQgvnbZinOdifTDcmmRr+W3ZI
ZV5XLWy4kXH5zen2SstWDEEXBSTqugNkkoxSv6oYhGlkBsl10WStdwF22VGM34UE3beu/tWrysbO
lN6j0DChsqe1LrZVB/OaKlT7a70yQi41q1b/2qBxtrmzGYdZZik6ptl/GM3Ew3+BbczS/bZYZFgB
NVTkKNNsFQZL1atB0dMkWNTQjdc781xPMQu2zLtk5tbg15QViQy2B0eVcmhRKMcf7XCQbh6wpr2I
yLNV+KWssLua7u/Uo7l3I4rthlUah7HFViQNSqOmi5BimE2WFqs06pEVxppoGjKcJTwsqyYLbn5v
eVZeHQvIl6i8/86DSocojtZsdu7sTJ/aehhoGjcJz/qiKupaBMs1pBg7jbXYjhRNstVI29xv6Jhn
6YHqYDL1e3d3Yw+jcmiPh7VjWv7Z0lI6/F/Rd+JvB5B0Je8UPVxgj9xZtoxD8vE8IYFbNCFeLjbk
WKV00XQ+7z/Agrmv8HJkno+iwnMz3UeF9y2cp+z4Y4q8R3mZ6pVpGW7KjWRNJAohSFYC1uo9HDM0
MmhlmTOAPgS5ZPg861XE1ttDhqkQLMhZGoNpRqV4EkejKHZZEwKWqoOQnA5kR955ZvvH8p4ACbKo
2/EAl8SdPndMlz+KLr+CX4t/kHss88lXM5/8clFMVlPFHKce2J649bXNK8S8EgjuxF/0VhaPqkdZ
Q4rN2XQOaXn0gmBQnbfrluzYNtiWLAmWAQEeESsJbaEoeUCEAVWt6Uc119KkvN0fD2/tVwAUbG+S
HNIKpe2nJ6WKLDpBgJ4xXF/uXx/4FsKO173aizdjpxqiwak7Tw2EKh3eN2yeaRIqCbQsEAmgqm6a
fLKTtC80K2W2TcHGrH66ASi1d7UX+L5s27ExjL2D3WNa/clp9c+wgj/B3cudvs2dAoJN5vn8E4CZ
E64Pxw4cl+BgFtuppeKSU4Uflj3fz5I4lytH8qyTLXtRk3bkWWV9hNKlejWWvpb5vFjQOfuIeUkg
KhGWpkcUUV4Z1nfKRpaNW08vdVRP61EwcWjFEAzTIErmHuWxpCQVH7GiHVbvj8igH2tOahPrlxVK
xcbZxrAqk8CSXXPt4VUkhathTTOwR0Ss9mDFbbxuYg7Sckm88UM37LajSBKWPVNx1da51uDmwDp7
6ZSx4lladXjvkNaP6fenpB/muMN/h9+OP8kNgHgGx5qT8NxuXuy4tHcRv5yykG+CADfrBSQPJvOZ
a54lOFURfjvPC/q0Wz174UK9sT9pirWyhkXBfnCve2NVTdc2wlo3VBF6+bPKxeHZlmQoYs1vd9b3
agqvoCv+0N9+eFCrq6Is1VoN7cS7zwCCOP9A4kU8EjTH9M6c3SRy6Jt/b1wP2+eM/vpOUtsI2ht3
PXzzVBZz/Hq8J/nwf0A/iz/GbXAXWDeeV6YqMWSWe63nm48UAT4G6sDmJBRVgDspygHdGhZ9VF97
aNQ4XXPDrpYE05RaMs9yxRAKHFCAZ0/V844rIMEUQG4A8KRK2UV8nET43kS3sSabVDbj62klBdyn
OfT0t522G7YXMKmqV60GyMCdt++s3DtUqDnkbdcWJNukgiA5Nc8PJMx9Pd/X4eHhj+On8Ae4LUDr
y1H8o1ubF6EVJac4S5I/2ncHHu7BotAyC+rPt93Jty+asot5dI/ZX+nTWrldkbAh2x1HFIlkEmJ6
SYPKqm6Z+2/fScthRzEqiV7trCZ6vdWOeVswE+ooiu1jN6CtWkw0X762rvRjkKcAxiVekQn+gGyG
Zj3deGbf6djpnakRaHbdZoXK9dAwCM+bfmB1W5cGZ961E62miYhFwr+8JYtIcEH0ObX7H7hWYrl/
RAuNF74v6QJOl2XdlBzLPKbTH59OnAC4/Ffwx7Purk/d5rqFpnuR64LyarzE8hnzcZvVhYz+CA04
WXLdLhctsTc/ydLhdVCrtzJx6W6myxLSLxp3ZTnIrFVE4C96PuRu2Ty2W/i95hEYfrbU0rXVzKoM
snxSjExt86mtczdWDERdT1LAMgyUUs3OchwVQEoatTNMJiRt32RwnXloBSNy77pIfczLkvAyZmV0
nQYhq7UGXHmudlDrX+tThcCiFtZ2d00zbVdERRaIJnrjre0EEL4gCXZdljyNNnywHVRX6VR5bPj1
U3XZhcUPN6r5gmO3XvvAwffDPOo8r24k1WadbQDDHc/HX7r5YPG/X4Rv/iR395IUKXplFgnUeWNn
4r+yHzHb4Swrz2DbbUwXBTLw2Mzyp9xK4vkVnRjJ2CeCIEd9AdPY2tjZHSV4d+RvlEb3DMYnLI1X
sB2GctASmNHpVrv+rG6Ijj8updPQMk0qBe1N/ElFkqvt1O6oDbgzX7a6pRpGatg9+eD+7j2JoRKl
FMR3bbTv7Ci+Y+BqCNgtgDmSvVW3Qm1dIIOStbK26iqOpX5D3/dv4hR/FFDD38xzVtb/6JyVztIu
U+swHsJ4WIzXYLw2WrSoZ6n+hPNeler/IuctBcXYOH6JlVDn4xnbqKoYz30gXmZqsEb3RSfReQB6
vudQEYTKOvfmWm3K2rOtFXFoie1UVRThmtYo2Hp6i1UFB1ocyLzqlQwwWmVbthyVZ11WwdoNoqST
JRFggTdYYaweabYkmzIvggX8UbZbFWJVLqoWn2kYldBCeRALFrdjsR5Tp+tRGeF6BTAOq2peL/k0
86F4lVnF6DRL87V2TPu/KNrzh7+HG/gF7gx3721uVNQ0Z7QfAe1HQPsR0H4EtB9ltB9ZrHuRuFQW
yi3KXuYxrZAFLcJ5i8ACg0uUwGPR6qR7VO6WeW6Co84K03RrPN1Mv4olf/qWmZ8IWBAlSeYFo9zb
vzkzG41E0UKtxzO0JAiWVw9E1hQ4UHzbNiW22wAj3KXAEE3JIKuxvnPp2h0zTUtXR2mkWr5OK3Tz
3Ec/ykrfVZ5Etd237Q7u69k1TSPOzrccBIOgtrpxTJ8/Dn3Ew1/Dl/D3c5ez/aFZl8IWiwwsFS8d
4e6iXIFZXs20m37ttlP5zlNHbhG2ZdfbJR5bdQtAs9TzNMAEpqzHutNwjZ5syHCfwNkjDZSAqEh2
SIilEixaZrxVhjWzZ/Jsq2kRSaouCuSfqPz4NePxa8ehqYuOCgthcG1w8ltPDn0B7lNGrEVb9UTV
7Thrj24MrvdtR1cVk3ViQHtg7FX2K+L6wSlfDY/vHR1+mf9r+N3cW7J7v2dU7Jvxqo7J/Cs7/Gy8
aguTOXnI8mawC4K1UrE7j0/yRc+aA/Tm66eCQI6nZZCLkiMLVFexENq2L0pABgc4lGiWLKkSbdis
M03Ts0wimiqpdIedGFvroR4QXpcEuDdZYLtOlvxwNaSNZlVtNkzDczwdW67FWk2Eq/jdfE0bhpe/
9zIB7IJ1qdqoirbDGtcbZRoMA00LVkKw0Tp3tCr7iedJJPLKW7F+8TVPP7QvJHJkVFwj1GVJdhS3
47ke6xjnBGrrvtV0sjbpktF0jWgmJtIxXf886SocfgVH+H3cawFDfE0nvuJEwE4EuVwmreUdERZb
VzbnBtP0lVuZo1c1C1/qR5lXax+lcOTtKkX0s0J6OaWmCPaKaEuar0mGLAcm3KrsqGbVsr1w4AHJ
MS+ovi57StgLvK4ra8SuWwwUGEQhVtUSDMktCcRW3AFcpkmqaFapjnBVI7qIbS3ejDWksR4nJV2j
KHLDlaB1odVu9671/VXW01VRxaw9BtZl3pYrs0SQiecqnlI/qEk6Jo4Xdt3u5dQfhvBjG6cbcamc
HNP0z4Wm5PA3cBX/UFavXQS55uHyPG9tsVsZa6TYbdJ5IWlWfbGkTRaKBN0ACODLRkQVU09klTXu
h99v1nWZ5aCrGAk9vr3ak5pxhg+xTJzUFQXRNtt3du2yFrUpmNoE/YO4lRrBik/BLJdVtg8EWnt4
Ld4oOwNv/XVjtqEHa6mNSK0FgHPl3hUgzup9q6ZLNdHU2H7U1bNtQdcV7hvoPvHhV9C/w+/lbhz1
UvojUr6KEzV2ojbfdT5Y7pia+WckiptFFegiFaxYNPzW5hqaZyov77+cu79/Jmp09HgapwMZF23M
2eZqFvBt7+5uqyfwBEAD0a2wf2OMNU0Oq3XFWQ9UnTWnio295/bWBlWUNM40zV47Qg/wufcboU4q
OzIgDLaAbJkFSEnaqu4lgCWb29HgahMRUB4k68ttsNZwDts+gPnNQ3vDC4aeUqst7MFjmv3JaMZ2
OfpB9O2Y53rcNY5z57vgVo9IsNSYtdg8brbU12UuQRexxqV+Z19Cth9IEpVck3fM8igkGAeWassH
JwTCuyhsXGwrnq0+LwJWUGSv6zu8DeDUMzDbXESlKtiiMpbgLmsHdeKgL4m2a7OEC9M1Td2fxIRK
jiETXd7Z5WUhbLvJZiwKhuUhQ1Y92Wla1LU0Tw8i0RUVoLfaONtUbFmQhGgcEpXF6LgfQG+D+29l
BR6558rdeEUjxKzzZnq043R2l9J0Ud4YFERYbBU5p8HflV2lf7muCLJsqU7Hc9yK69hWN/SR73Zs
WSXE30dlhTYNWTFoSUtmFUXxwnizLBtGLCuCQsuUUMyrUu1cX4/A2le9tm2JSuRX4qHnlj276QCS
UcxPqqFqlmzNBbtfCVdCmSZheTMGzuN1o8SCABLN/cX/L/pl/Dzc7S3uodvcg5zC7Wdejv0lr8X+
K7dqeDDL6noQTt7Bth1ivWhDWG6NotycJRrir+SF57k/5JWVVpmuFkOWxTXJtvLK9xmiOI9WL1VB
bC36/6Z5PFs62kGF9bRhe7NVELp39UTAdgACfgqlxoU12UBIUK3A7tjdkimHG2sRqFlgtlK7FY1C
2xF4IY+9sW5NZePKIw/sshWpa90TMlZK3YrvIPwOMumokRbWqdEQqy0syZSyWhdcdmqCDAtPL0VW
zSz5GBNBE3i205A2ffM0T5JOSjrbc/kzrMGQiOXtnhqHpuErpSDfe5s7/N8RawxSzjHPYv/JPEuO
EVHLiDjv59GZL7IBS0Z55WaRauhjVDZqzaTd0JOl/SIDLRki1zXUbF+Dpd0iMaccfg/+cfzD3Ldw
H+L282qmFxZd2Ze6rL8A0vIFrg/HDhyX4GDeiRfgonfCRe+EX0bENSHfuiEvBueXWv/Pg15HcjJv
gBmwLCqWQeVVhUkWIl04vsRX9nHdmAM0scnnXS4w2wSJdQDfRB+2di5cubjvmthrOc72yb2wtFHq
XdzfcGJPSoZgmq47IFRVTdHUaK+tOkp9qHh+I1g1gyAwk7Jlb2TbfQkiSICdrurbzz46un5mpIcN
Qey0KndtOG23dyUVDUmkrONiPE1ke1soSYmoGpKg18o2fhPmrdbBrTOTxx+50WhupQHbcEAv1Veq
Kw/fd9duBz7cwCJWZKwBE6i8yGuD+pl3nVwxBAm+meoSXmcZ+IPJdCXBrUvPXN6+IAteZ83v3hyd
ecfWYI8SjWi6yTx1sqLzlG1V9V+vdlRRsQb9llIvyWldZptdEtbzCH8Wf4hb485xN8H6ew/HdZYS
lZY3XzvgJ8UG78Ujc7hXs73PxTWca7503hyGxTBfPZkH+X6W8wkUM02B3g5CSvTs+ql6ZMmGXd2v
gigTY4+2GzGp1lUZELQBUFnUNJ5a1jNxubQ1KPFYcyvOiYs9HSm8WnrYjF2Vx4oohboeyvrLn8aO
rLTD/q4tsY0kiGKXmqWNscO/x/ANCU4YRoAtItNPwReaNsAyKY56/cufvKtzZ+q7WSUkNqKGl2wn
duoEQ19sdNuvNXjea69F3jBNREfv7W4PiOfNeNkpmRpoXjBBG90m2qd9LwKrst+22rZR0ZwS5UVt
sNqpEc0LxazZEGbtfIvY8WfxCP0C93bufdxPgHB8B6x3Nyt9eRusvOezZfaOpQ0BWXevgOXEjtj5
z3HtbOXPPdOsmd46jNdH+bvm/sB3LLUJen5pm4S3LXo2/iRI6ue5t9nOTn52vpcgGz8D42eKT8lX
cv4p74bxu7MuY37WXh1mPEfT+eZXi/6/wB1pl6KjLtSz+Tb1rNXbBP6fB3Xyjn0LFOWJEqD0ydf0
vWV9iggLr+dvpAjbVVyLxpHhy0FqejYqBe4gkG2FBtQzJKJLsy1JE0WFRqw5riazvaYshKquS2Mq
G7Kf2kEJ2Z59oi6bolj2qM6bmlEqN0IQ9ZKliAEtsbbmRCWqq3ovf94vRxHgDTU5VVcouiCW6iAz
uzsJYzaXetluqckWtYFzqz5tegL2+p5rlRXiW+E4ZC+7tCTyqDRLmHJxfeqyLYnrO77viMQP7K2E
9efSCCghUxPEquoqYCSizzNNVDtVRTwus05S+PDL+Jvxw9xD3LMwf0s7UKfLO1od5RIs2bJzhFLF
rzBwC5XaFF+1OxZcx/pDgTIdsZZ8YB2x7RXySEOWNybg/gCQqMfzsqIQQdqppXe0a4bv9XzXiPbr
hq3YCphKuo95RbaoGPAAGeG2ZQIPuyMASbwAjGXDdVwdrm1du3IhAshW9j4vkHDYsgNWpSii+7Ei
YEVTGnpTJqpmVolAlJcOHk01iciSrFKa0rgGq4waw7g0Ct1wfHNgGbIlwzJVFFoJLQr2MSArPdtt
C2AxH1C1IsoYWYYCvx4EOJXMTiLqpHzqIX+9V5ZB/hgafpsgIslwXizZalWUVVmMNLV8jIW/0bAw
2IvcP+B+D/0O153P9ryhzbKLPXeaBuJvCu1ei3cN0TfNQaeCcWypoIdPV/P5i2px2W10QFP/nBBG
Pm861NRpGAYGsCmRpLCX5NMCUsLQXN4oeroi+A1fRf8PIC7OTQ9QsNRRh59v383n+UTwft7rN9xy
XItC5AKuMGuNliuXVCvGuNLpm6YvGi6frnTRzwueIbiaaUeu2w4BvlLfdfT/r6tzyYkYBoJobMef
+NOOEyeZYBAaMTArkBjBDrFDmmsgwSVYcgG4DHvuxAVoJ/MR7L3Iolx+kbqrJN6tAC52PVgPwbMh
jUUm/G/yTi+Kk+K6eJgmFcPUQjJNKl7tkqLuc45fDmDezL1764P/H/Wx7wud1UDubp83yMNdIgF5
aPuxTcmQsEif4JC/mOiGHgWIXyXWZXeJevEwgEdfaMmTEnPyT5cHPZigxtdCKE5fCMJdcnjOodYN
wnp4oyk2faWZg1Wrd3tltPgiK/Iz9Y6g3Q39zXGBZNdk9WdLU4p/iex7GbBDV9x8+pW0Q6BUe2D4
mki8WUuwoErBuSlNo3PgQocmhvDZaVblYg0VhDSUndZSc2qdZQw8UH1urJaiqbgljzydRQT2tlcq
Sl1yu/Q2VKUkFXcp4yDaXDTjwkTDKnRKxBBjEzQB2YnTfoH/L3EcmFX48tUwOgm/PZpisQAAAAAA
AAAAAAAAAPwBkgIQAoIDpgQ6BQwFcgaaByYIMAjWCXYKPgr8C7YMUA0UDlQPTA/SEIgRRhIeEwYU
EhTiFVAVxBZkFsQXgBfeGGQY2hluGfoaYBriG2wbqhwyHIIc1hzyHS4daB20HbQd9h48HqwfOCAG
ILohNCGqIeAiFiKiI2AkMCTGJgYmuieSKIopKiomKw4ryCxiLTQuAi5oLuYvei/oMFoxGDHOMlQz
XjPqNQ42NjbWN544RDi4OcQ6iDsUO6A8QDzgPUY9rD48Psw/fkAwQMZBXEHgQmRDXkRYROhFeEYS
RqxHUkf4SIRJEEmmSjxK3Et8S+ZMUEy8TShNvE5QTxhP4FBcUNhRllJUUuRTdFPyVHBVHFXIVnJX
HFeQWARYnlk4WbhaMFrsWyxcGFzaXfpevl8+X7Zf+GA6YKRhJmEmeNp9kL9Kw1AUxr/bpn8CjUjQ
RRwCOrgY0tUODkK2Qu3QtWRI2kCahJukmG4+g0/g4/gMPod7v8RDUAvewOV3vu8751wC4FL1oNAc
BbO9m9PDiNU393GBc2GD6q3wABbuhYfUH4THOMOTsEl+Fp5wylrYopMJ2+QXblFGs9HGq3CPvW/C
fdzhXdhg5kN4gCt8Cg+pfwmPca1Gwib5RngCRz0KW7DV2g/SMjjUmV6GmyoJ9NT1PG+W17qYdVYH
q1AXcZY6bahT53GxDZxFkEZxku1/V7umyqVwdeXrMHSiLC27bvgIkKLkfUDNn6KxRIgNKiTUNKZw
4bXfDDkTGgXptOtUWXFOk45ZpXB+TDrNzpkqsKXiYNG6EZWE3v5fb9d5+R/H5dSKmzRfEbIzal9R
HgFp9GkLAAAAeNptkMdyU1EQRE/LwnLOOecc9N69Sg4Yy7JIwkST+QA27PgWPoAVLG1cxd8BBf12
3E1X9cyd0zPk+Pt+3ZDyv/cVlCNHm9qU1y21q6AOdapL3epRr/rUrwENakjDGtGoxjSuCU1qStOa
0azmNK8FRhhlmDHGmWCSKaaZYYAFuulhkFn6maOLIU7o06KWtMwSea650opWtaZ1bWhTW9rWjna1
p30VlShVUFRJZVVUVU0HOtSRjnVbJ7qjU9V1pgYrNFjlnDWarHOXDe6xyX22eMA2D9mhxS6P2OOC
fR5T5AlPSf7c4xnPCbwgUuKSl5Sp8Ioqr6nxhgPecsg7jnjPMR/4xncK1Fmmg3Y6+cEN8yzyk16+
5C8uW63C508fizGpWoO1+U/T1Op6WnT9zHpuv2atWMtW96Wn1rr/JVb7if3U3CRaszklq/3UOYvZ
nIzvPEmW2/W0Yd/5kmyPzPf8YD/4X/CcYF4wP7i/lPU5Z/D84HsF5wreM3jP4LsE84NzB+8fnSN6
fnSO6BzROaJzRPOj+dH8aH40P5ofzY/mR/Nj8zfF06/PAA==) format('woff'), url('../fonts/Fantazyor.ttf')  format('truetype'), url('Fantazyor.svg#Fantazyor') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Fantazyor';
  
}
.sh_hear {
    width: 100%;
    height: 25%;
}
.list {
  margin: 20px;
}
.food_list {
  list-style: none;
  margin: 0 20px;
  
}
.food_list li {
  margin: 10px 0;
  position: relative;
  }
  .food_list a {
    width: 100%;
    color: #2d4d5c;
    text-decoration: none;
    border-left: 6px solid #88ac85;
    display: block;
    padding-left: 25px;
    height: 44px;
    line-height: 44px;
    font-size: 20px;
    position: relative;
    transition: 0.3s linear;
    }
    .food_list a:before {
      content: "";
      width: 6px;
      height: 70%;
      background: #ef5118;
      position: absolute;
      top: 15%;
      left: -12px;
      }
      .food_list li:before {
        content: "";
        width: 6px;
        height: 40%;
        background: #ffb426;
        position: absolute;
        top: 30%;
        left: -12px;
        }
        .food_list a:hover {
          background: #88ac85;
          color: #fff;
        }
.text1 {
  font-size: 20px;
  font-weight: 500;
}
.circle {
  
  position: absolute;
}
.list_img {
  width: 50px;
  position: relative;
}
.me_las {
  width: 100%;
}
.footer {
 /*#f3dab2*/
 
  position: relative;
}
.footer_text {
 font-size: 30px;
 margin-top: 10px;
 font-weight: 500;
text-align: center;
color: #2d4d5c;
} /**/